* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 50px;
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

a {
  color: white;
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  color : #fff;
}

.nav {
  background: rgb(130,62,154);
  background: linear-gradient(176deg, rgba(130,62,154,1) 25%, rgba(171,110,235,1) 60%, rgba(34,17,68,1) 100%, rgba(0,212,255,1) 100%);
  min-height: 60px;
  padding: 10px;
}

.logo {
  float: left;
}

#toggle {
  display: none;
}

label {
  color: white;
  cursor: pointer;
  margin: 0 20px 0 0;
  position: absolute;
  right: 10px;
  display: none;
}

/*flex box*/
.menu ul {
  display: flex;
}

.menu ul li {
  margin: 0 10px;
  cursor: pointer;
  font-weight: bold;
}

@media (max-width : 739px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
    max-width: 420px;
  }

  label {
    display: block;
    cursor: pointer;
  }

  .menu {
    width: 100%;
  }

  .menu ul {
    flex-direction: column;
    display: none;
    text-align: center;
  }

  .menu ul li {
    margin: 10px 0;
    line-height: 20px;
  }

  #toggle:checked+.menu ul {
    display: block;
  }
}